@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --secondary: #947B62;
  --selected: #F5F0EA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-selected: var(--selected);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fraunces: 'Fraunces', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Fraunces', sans-serif;
}
